{% extends "layout.html" %}
{% block title %}這是第一題{% endblock %}
{% block question %}1{% endblock %}
{% block PaO2 %}1{% endblock %}
{% block PaCO2 %}1{% endblock %}
{% block HCO3 %}1{% endblock %}
{% block pH %}1{% endblock %}
{% block Na %}1{% endblock %}
{% block Cl %}1{% endblock %}
{% block Hb %}1{% endblock %}
{% block Albumin %}1{% endblock %}
{% block ref_list %}1{% endblock %}
{% block answer_button %}
<div class="diagnosis_button_block">
    <button class="wrong answer" onclick="show_answer()">1111111111111</button>
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
</div>
<div class="diagnosis_button_block">
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
    <button class="right answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
    <button class="wrong answer" onclick="show_answer()">NAGMA非陰離子<br>間隙代謝性酸中毒</button>
</div>
{% endblock %}