<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="SLEK self-learning enjoy knowledge">
        <meta name="description" content="這是SLEK發行的互動式教具呦！">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'fontawesome/css/all.css') }}">
        <link rel="shortcut icon" href="https://github.com/cindy12347/SLEK_teamB/blob/main/src/slek.png?raw=true"/>
        <link href="{{ url_for('static', filename = 'css/teamaaa.css') }}" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="{{ url_for('static', filename='static/fontawesome/js/fontawesome.js')}}"></script>
        <script src="{{ url_for('static', filename='static/fontawesome/js/solid.js')}}"></script>
      </head>
    <body>
        <div class="main">
            <nav class="navbar">
                <h1 class="navbar_heading">{% block title %}{% endblock %}</h1>
                
                <ol class="navbar_menu">
                  <li class="navbar_item"><a href="{{ url_for('pages', page='question1') }}" class="navbar_link">1</a></li>
                  <li class="navbar_item"><a href="{{ url_for('pages', page='question2') }}" class="navbar_link">2</a></li>
                  <li class="navbar_item"><a href="{{ url_for('pages', page='question3') }}" class="navbar_link">3</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">4</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">5</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">6</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">7</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">8</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">9</a></li>
                    <div style="width:100%"></div>
                    <li class="navbar_item"><a href="#" class="navbar_link">10</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">11</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">12</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">13</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">14</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">15</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">16</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link">17</a></li>
                    <li class="navbar_item"><a href="#" class="navbar_link"></a></li>
                </ol>
                
                <div class="navbar_arrow_ham">
                  <div class="navbar_reload">
                    <a href="{{ url_for('pages', page='index') }}"><i class="fa-solid fa-rotate-right fa-2x" style="color:white"></i></a>
                  </div>
                  {% block arrow %}{% endblock %}
                  <div class="navbar_hamburger">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                  </div>
                </div>
            </nav>
            <div class="question_block">
                <p>{% block question %}{% endblock %}
                </p>
            </div>
            <div class="data_ref_block">
                <div class="data_block">
                    <table class="data_table">
                        <tr>
                          <td class="data_table_left">PaO<sub>2</sub></td>
                          <td class="data_table_right">{% block PaO2 %}{% endblock %}mmHg</th>
                        </tr>
                        <tr>
                          <td class="data_table_left">PaCO<sub>2</sub></td>
                          <td class="data_table_right">{% block PaCO2 %}{% endblock %}mmHg</td>
                        </tr>
                        <tr>
                          <td class="data_table_left">HCO3<sup>-</sup></td>
                          <td class="data_table_right">{% block HCO3 %}{% endblock %}mEq/L</td>
                        </tr>
                        <tr>
                          <td class="data_table_left">pH</td>
                          <td class="data_table_right">{% block pH %}{% endblock %}</td>
                        </tr>
                        <tr>
                          <td class="data_table_left">Na<sup>+</sup></td>
                          <td class="data_table_right">{% block Na %}{% endblock %}mEq/L</td>
                        </tr>
                        <tr>
                          <td class="data_table_left">Cl<sup>-</sup></td>
                          <td class="data_table_right">{% block Cl %}{% endblock %}mEq/L</td>
                        </tr>
                        <tr>
                          <td class="data_table_left">Hb</td>
                          <td class="data_table_right">{% block Hb %}{% endblock %}g/dL</td>
                        </tr>
                        <tr>
                          <td class="data_table_left">Albumin</td>
                          <td class="data_table_right">{% block Albumin %}{% endblock %}g/L</td>
                        </tr>
                    </table>
                    <p style="margin-top:3%">● 點我看
                      <a class="data_ref_table_window"style="text-decoration:  none;"href="{{ url_for('pages', page='reference_table') }}"  onclick="window.open('reference_table', 'newwindow', 'width=400,height=400'); 
                      return false;">參考數據</a>
                    </p>
                </div>
                <div class="ref_block">
                    <div class="ref_click">
                        <a onclick="book_click()" ><i class="fa-solid fa-book fa-8x" aria-hidden="true" style="margin-bottom:10%; color:#565A5C"></i></a>
                        <p>點我看分析</p>
                    </div>
                    {% block ref_list %}{% endblock %}
                </div>

            </div>
            <div class="diagnosis_block">
                {% block answer_button %}{% endblock %}
            </div>
            <div class="additional_block" id="additional">
                {% block additional %}{% endblock %}

            </div>
            <div class="footer_block">
              <div class="footer_icon">
                <a target="_blank" href="https://www.facebook.com/slekmed"><i class="fab fa-facebook-f" style="color:white;"></i></a>
                <a target="_blank" href="https://www.instagram.com/slekmed/"><i class="fab fa-instagram" style="color:white;"></i></a>
                <a target="_blank" href="mailto:slekmed@gmail.com"><i class="fa-solid fa-envelope" style="color:white;"></i></a>
                <a target="_blank" href="https://www.slekmed.com/"><i class="fa-regular fa-globe" style="color:white;"></i></i></i></a>
              </div>
            </div>
        </div>

        
        
        <script src="{{ url_for('static', filename = 'teama_block.js') }}"></script>
        <script src="{{ url_for('static', filename = 'jquery.js') }}"></script>
    
    </body>
</html>
    