{% extends "base.html" %}
{% block title %}教案十五{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question16') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question16') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question16') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一70歲女性病人，這一年家人發現病人呼吸費力而來到你的診間。初步診視病人體溫37度，心跳70次/分，呼吸速率16次/分，血壓120/80。你為她做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}43.5{% endblock %}
{% block PaCO2 %}52{% endblock %}
{% block HCO3 %}31.5{% endblock %}
{% block pH %}7.41{% endblock %}
{% block Na %}142{% endblock %}
{% block Cl %}102{% endblock %}
{% block Hb %}10.5{% endblock %}
{% block Albumin %}40{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH雖正常，但由於PaCO<sub>2</sub>與HCO<sub>3</sub><sup>−</sup>皆高於正常值，可能為為呼吸酸中毒。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>−</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.41</td>
                    <td>52 mmHg</td>
                    <td>31.5 mEq/L</td>
                    <td>43.5 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>正常</td>
                    <td>過高</td>
                    <td>過高</td>
                    <td>過低</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>
        當呼吸性酸鹼中毒發生時，腎臟會藉由改變HCO<sub>3</sub><sup>−</sup>的吸收補足肺臟無法調節CO<sub>2</sub>的功能，這個過程稱之為「代償」。若為呼吸酸中毒，腎臟會再吸收HCO<sub>3</sub><sup>−</sup>以升高pH值；反之若為呼吸鹼中毒，腎臟會減少再吸收HCO<sub>3</sub><sup>−</sup>以降低pH值。腎臟的代償需要一定時間（幾小時~幾天），依代償的進行程度可以將呼吸性中毒區分為急慢性：<br>
        （以呼吸性酸中毒為例）<br>
        - 急性呼吸酸中毒：腎臟尚未進行代償，再吸收的HCO<sub>3</sub><sup>−</sup>變化量約為0.1 * ΔPaCO<sub>2</sub><br>
        - 慢性呼吸酸中毒：腎臟已充分進行代償，再吸收的HCO<sub>3</sub><sup>−</sup>變化量約為0.35 * ΔPaCO<sub>2</sub><br>
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td style="width:15%">檢查<br>項目</td>
                    <td>ΔHCO<sub>3</sub><sup>−</sup>與ΔpH<br>實際值</td>
                    <td>ΔHCO<sub>3</sub><sup>−</sup>與ΔpH<br>預估值</td>
                    <td style="width:20%">結果</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>HCO<sub>3</sub><sup>−</sup><br>與pH</td>
                    <td>
                        <b>|ΔHCO<sub>3</sub><sup>−</sup>|</b>=|31.5−24|=7.5<br>
                        <b>|ΔpH|</b>=|7.41−7.4|=0.01<br>
                        <b>|ΔPaCO<sub>2</sub>|</b>=|52−40|=12
                    </td>
                    <td>
                        <b>急性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>−</sup>|</b>= 0.1 * |ΔPaCO<sub>2</sub>| = 0.1 * 12 = 1.2<br>
                        <b>|ΔpH|</b> = 0.008 * |ΔPaCO<sub>2</sub>| = 0.008 * 12 = 0.096<br>
                        <b>慢性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>−</sup>|</b> = 0.35 * |ΔPaCO<sub>2</sub>| = 0.35 * 12 = 4.2<br>
                        <b>|ΔpH|</b> = 0.003 * |ΔPaCO<sub>2</sub>| = 0.003* 12 = 0.036<br>
                    </td>
                    <td>
                        HCO<sub>3</sub><sup>−</sup>與pH變化量趨近慢性預估值，因此為慢性呼吸性酸中毒。
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>Anion gap：</b><br>呼吸性酸中毒不需判斷Anion gap。
    </li>
    <li><b>結論：</b><br>慢性呼吸性酸中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性酸中毒</a></button>
</div>

<div class="diagnosis_2layer_block right_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="right_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>呼吸性酸中毒可能是以下原因所引起：
        <ol style=" padding-left:25px; margin-top:7px">
            <li>呼吸神經、肌肉功能障礙</li> 
            <li>異物阻塞、喉頭水腫導致的氣體通道阻塞</li>
            <li>慢性阻塞性肺病、間質性肺病等</li>
            <li>處在通風不良、CO<sub>2</sub>濃度過高的環境</li>
        </ol>
    </li>
    <li><b>診斷：</b><br>老年人呼吸費力，又顯示慢性呼吸性酸中毒，可能是因為各種原因引起的慢性肺臟問題或呼吸功能不足，應進一步查明原因。可能原因如：感染、長期抽菸、吸入油煙、呼吸肌肉無力、間質性肺病（源於遺傳、免疫、吸菸或藥物等造成肺部纖維化，會導致肺部僵硬，造成呼吸困難）。
    </li>
    <li><b>教案相關：</b><br>老年人可能有多種因素，會導致慢性呼吸性酸中毒，應進一步調查病史以查明原因。</li>
</ol>

{% endblock %}

