{% extends "base.html" %}
{% block title %}這是第三題{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='tutorial_normal') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='tutorial_normal') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='tutorial_normal') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}1{% endblock %}
{% block PaO2 %}1{% endblock %}
{% block PaCO2 %}1{% endblock %}
{% block HCO3 %}1{% endblock %}
{% block pH %}1{% endblock %}
{% block Na %}1{% endblock %}
{% block Cl %}1{% endblock %}
{% block Hb %}1{% endblock %}
{% block Albumin %}1{% endblock %}
{% block ref_list %}1{% endblock %}
{% block answer_button %}
<div class="diagnosis_2button_block">
    <button class="wrong2 answer2"><a>NAGMA非陰離子<br>間隙代謝性酸中毒</a></button>
    <button class="right2 answer2"><a>NAGMA非陰離子<br>間隙代謝性酸中毒</a></button>
</div>
<div class="diagnosis_5button_block">
    <button class="wrong5 answer5"><a>NAGMA非陰離子<br>間隙代謝性酸中毒</a></button>
    <button class="wrong5 answer5"><a>NAGMA非陰離子<br>間隙代謝性酸中毒</a></button>
    <button class="right5 answer5"><a>NAGMA非陰離子<br>間隙代謝性酸中毒</a></button>
    <button class="wrong5 answer5"><a>NAGMA非陰離子<br>間隙代謝性酸中毒</a></button>
    <button class="wrong5 answer5"><a>NAGMA非陰離子<br>間隙代謝性酸中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>Anion gap=[Na+] – [Cl-] – [HCO3-] = UA(其他陰離子)-UC(其他陽離子)，正常情況下人體內的陽離子和陰離子的總電荷量相同，Anion gap(AG) 可用來評估代謝性酸中毒的原因，其正常值約為albumin*2.5，若AG正常表示酸中毒的原因可能來自於流失[HCO3-]- 同時伴有 Cl- 升高或腎臟減少排出酸
    </li>
    <li><b>症狀：</b><br>身體為了排除多餘的酸會加快呼吸可能引發呼吸困難、噁心、嘔吐、沒有食慾
    </li>
    <li><b>教案相關：</b><br>腹瀉會造成腸道內[HCO3-]-大量流失，而[HCO3-]-在體內作為酸鹼緩衝溶劑會中和酸，若[HCO3-]-大量流失則會引發酸中毒。同時結腸的Cl-/[HCO3-]-通道，排出[HCO3-]-時會吸收Cl-，因此排出的糞便中會有較多[HCO3-]-和較少Cl-，體內則反之，體內的Anion gap 無明顯增加。"
    </li>
</ol>

{% endblock %}