{% extends "base.html" %}
{% block title %}教案五{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question6') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question6') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question6') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一45歲男性病人有噁心、嘔吐與腹痛的症狀。初步診視病人體溫38.3度，心跳92次/分，呼吸速率12次/分，血壓130/70。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}43.5{% endblock %}
{% block PaCO2 %}85.5{% endblock %}
{% block HCO3 %}82{% endblock %}
{% block pH %}7.61{% endblock %}
{% block Na %}142{% endblock %}
{% block Cl %}50{% endblock %}
{% block Hb %}14.5{% endblock %}
{% block Albumin %}40{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常高，可知為「鹼中毒」，由於PaCO2與HCO<sub>3</sub><sup>-</sup>皆高於正常值，表示為體內體內HCO<sub>3</sub><sup>-</sup>高與排出CO2多，因此為代謝性鹼中毒。  <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.61</td>
                    <td>85.5 mmHg</td>
                    <td>82 mEq/L</td>
                    <td>43.5 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>過低</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>代謝性鹼中毒難以從數據判斷急性或慢性，在此不討論。
    </li>
    <li><b>Anion gap：</b><br>非代謝酸中毒不需要計算。
        
    </li>
    <li><b>結論：</b><br>代謝性鹼中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="right_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>代謝性鹼中毒起因於血中HCO<sub>3</sub><sup>-</sup>增加或[H+]流失過多。<br>
        常見原因為嘔吐或鼻胃管抽吸時，造成體內[H+]流失；此外當體液大量流失啟動身體的RAAS系或服用特定種類的利尿劑時，都有可能會刺激醛固酮分泌並作用在遠曲小管，醛固酮的作用主要為保鈉水、排氫鉀，因此醛固酮過度分泌可能會造成[H+]過度排出；又或是治療胃酸分泌過多所服用的制酸劑中含有HCO<sub>3</sub><sup>-</sup>，若服用過量皆可能會造成代謝性鹼中毒。 </li>
    <li><b>症狀：</b><br>[H+]的排出也會涉及Cl<sup>-</sup>和K<sup>+</sup>的排出，因此代謝性鹼中毒常見無症狀或出現與電解質異常相關的症狀如疲倦、肌肉痙攣、多尿、口渴、肌肉無力、肌肉無力或心律失常等。
    </li>
    <li><b>教案相關：</b><br>嘔吐會造成胃酸流失，因此體內[H+]大量排出引發代謝性鹼中毒。</li>
</ol>

{% endblock %}

