{% extends "base.html" %}
{% block title %}教案四{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question5') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question5') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question5') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一55歲女性病人長期有慢性腎臟病，需要定期洗腎。近日開始嘔吐不止、高燒不退、意識不清，也因此拖延到這次洗腎，被家人送到急診。初步診視病人體溫40度，心跳103次/分，呼吸速率25次/分，血壓123/75。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}95{% endblock %}
{% block PaCO2 %}32{% endblock %}
{% block HCO3 %}16{% endblock %}
{% block pH %}7,33{% endblock %}
{% block Na %}133{% endblock %}
{% block Cl %}95{% endblock %}
{% block Hb %}12.5{% endblock %}
{% block Albumin %}23{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常低，可知為「酸中毒」，由於PaCO2與[HCO3-]皆低於正常值，表示為體內[HCO3-]低與排出CO2低，因此為代謝酸中毒 。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO3<sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.33</td>
                    <td>32 mmHg</td>
                    <td>16 mEq/L</td>
                    <td>95 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>代謝性酸中毒難以從數據判斷急性或慢性，在此忽略不討論。
    </li>
    <li><b>Anion gap：</b><br>結果：由AG實際值 > AG預估值，可知為陰離子間隙酸中毒AGMA，再進一步檢查Δ/Δ=2.03 > 2，表示為高AG酸中毒(AGMA)混合代謝性鹼中毒。 
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td>AG預估值</td>
                    <td>AG實際值</td>
                    <td>ΔHCO3<sup>-</sup></td>
                    <td>Δ/Δ</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>= 2.5 * albumin<br>
                        = 2.5 * 2.3(g/dL)<br>
                        = 5.75
                    </td>
                    <td>= Na<sup>+</sup> - (Cl<sup>-</sup> + HCO3<sup>-</sup>)<br>
                        = 133 - (95 + 16)<br>
                        = 22
                    </td>
                    <td>= 24 - HCO3<sup>-</sup><br>
                        = 24 - 16<br>
                        = 8
                    </td>
                    <td>= ΔAG / ΔHCO3<sup>-</sup><br>
                        = (22 - 5.75) / 8<br>
                        = 2.03</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>結論：</b><br>高AG酸中毒(AGMA)混合代謝性鹼中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="right_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>兩者併發是由於體內離子嚴重失衡，在pH上可能沒有明顯變化，但是可能由於大量離子流失，如嚴重嘔吐、腹瀉造成。末期腎病患者體內堆積大量廢物，可能產生AGMA；而嚴重嘔吐也會導致排出過多酸，進而引發代謝性鹼中毒。  </li>
    <li><b>依照CKD嚴重程度：</b><br>可以將之分成以下六期。末期(Stage 5)腎臟病患者腎功能衰竭，需要定期洗腎，也可能產生各種併發症。例如腎臟衰退而無法排出各種廢物，廢物累積到出現全身各器官損害、噁心嘔吐等症狀時即為尿毒症。  
        <ol style=" list-style-type: none;padding-left:25px; margin-top:15px">
            <li>- Stage 1 GFR >90 ml/min</li>
            <li>- Stage 2 GFR 60-89ml/min</li>
            <li>- Stage 3a GFR 45-59ml/min</li>
            <li>- Stage 3b GFR 30-44ml/min</li>
            <li>- Stage 4 GFR 15-29ml/min</li>
            <li>- Stage 5 GFR &lt; 15 ml/min</li>
        </ol>
    </li>
</ol>

{% endblock %}

