{% extends "base.html" %}
{% block title %}教案十七{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question18') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question18') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question18') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一18歲男性病人先前因嚴重車禍而成為植物人。初步診視病人體溫37.0度，心跳60次/分，呼吸速率10次/分，血壓125/77。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}96{% endblock %}
{% block PaCO2 %}22{% endblock %}
{% block HCO3 %}16{% endblock %}
{% block pH %}7.48{% endblock %}
{% block Na %}140{% endblock %}
{% block Cl %}110{% endblock %}
{% block Hb %}13{% endblock %}
{% block Albumin %}40{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常高，可知為「鹼中毒」，且PaCO2過低，而HCO<sub>3</sub><sup>-</sup>偏低，因此為呼吸性鹼中毒。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.48</td>
                    <td>22 mmHg</td>
                    <td>16 mEq/L</td>
                    <td>85 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過高</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>
        當呼吸性酸鹼中毒發生時，腎臟會藉由改變HCO<sub>3</sub><sup>-</sup>的吸收補足肺臟無法調節CO2的功能，這個過程稱之為「代償」。若為呼吸酸中毒，腎臟會再吸收HCO<sub>3</sub><sup>-</sup>以升高pH值；反之若為呼吸鹼中毒，腎臟會減少再吸收HCO<sub>3</sub><sup>-</sup>以降低pH值。腎臟的代償需要一定時間(幾小時~幾天)，依代償的進行程度可以將呼吸性中毒區分為急慢性：<br>
        （以呼吸性酸中毒為例）<br>
        - 急性呼吸酸中毒：腎臟尚未進行代償，再吸收的HCO<sub>3</sub><sup>-</sup>變化量約為0.1 * ΔPaCO2<br>
        - 慢性呼吸酸中毒：腎臟已充分進行代償，再吸收的HCO<sub>3</sub><sup>-</sup>變化量約為0.35 * ΔPaCO2<br>
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td style="width:15%">檢查<br>項目</td>
                    <td>Δ[HCO<sub>3</sub><sup>-</sup>]與ΔpH<br>實際值</td>
                    <td>Δ[HCO<sub>3</sub><sup>-</sup>]與ΔpH<br>預估值</td>
                    <td style="width:20%">結果</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>[HCO<sub>3</sub><sup>-</sup>]<br>與pH</td>
                    <td>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b>=|16-24|=8<br>
                        <b>|ΔpH|</b>=|7.48-7.4|=0.08<br>
                        <b>|ΔPaCO<sub>2</sub>|</b>=|22-40|=18
                    </td>
                    <td>
                        <b>急性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b>= 0.2 * |ΔPaCO<sub>2</sub>| = 0.2 * 18 = 3.6<br>
                        <b>|ΔpH|</b> = 0.008 * |ΔPaCO<sub>2</sub>| = 0.008 * 18 = 0.144<br>
                        <b>慢性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b> = 0.4 * |ΔPaCO<sub>2</sub>| = 0.4 * 18 = 7.2
                    </td>
                    <td>
                        [ΔHCO<sub>3</sub><sup>-</sup>]與pH變化量趨近於慢性預估值，腎臟有代償，因此為慢性呼吸性鹼中毒。
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>Anion gap：</b><br>呼吸性鹼中毒不需判斷Anion gap。
    </li>
    <li><b>結論：</b><br>慢性呼吸性鹼中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性酸中毒</a></button>
</div>

<div class="diagnosis_2layer_block right_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="right_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>多為過度換氣造成（排出過多的CO2），如缺氧的代償、精神性換氣過度（如：過度換氣症候群）等
    </li>
    <li><b>症狀：</b><br>症狀較急性呼吸性鹼中毒輕，有頭暈、感覺異常、組織缺氧與低血鉀症等。
    </li>
    <li><b>治療：</b><br>減低患者過度換氣之情形，如：精神性可使用鎮定劑；或以長筒、紙袋罩住口鼻，減CO2的呼出與喪失。
    </li>
    <li><b>其他相關：</b><br>持續性植物狀態（Persistent vegetative state, PVS）俗稱植物人，根據台灣政府身心障礙鑑定表，極重度的植物人，其定義為大腦功能嚴重障礙，完全臥床，無法照顧自己餵食，起居及通便，無法與他人溝通者。</li>
</ol>

{% endblock %}

