{% extends "base.html" %}
{% block title %}教案九{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question10') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question10') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question10') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一52歲女性病人已退休並獨居，近日感到呼吸喘，你發現她的呼吸為短淺呼吸。她表示因為長期有焦慮情形，有服用多種抗焦慮用藥。初步診視病人體溫37.2度，心跳90次/分，呼吸速率26次/分，血壓137/82。你為她做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}85{% endblock %}
{% block PaCO2 %}28{% endblock %}
{% block HCO3 %}22{% endblock %}
{% block pH %}7.48{% endblock %}
{% block Na %}135{% endblock %}
{% block Cl %}105{% endblock %}
{% block Hb %}11{% endblock %}
{% block Albumin %}37{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常高，可知為「鹼中毒」，由於PaCO<sub>2</sub>與HCO<sub>3</sub><sup>-</sup>低於正常值，因此為呼吸性鹼中毒
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.48</td>
                    <td>28 mmHg</td>
                    <td>22 mEq/L</td>
                    <td>85 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過高</td>
                    <td>過低</td>
                    <td>正常偏低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>
        當呼吸性酸鹼中毒發生時，腎臟會藉由改變HCO<sub>3</sub><sup>-</sup>的吸收補足肺臟無法調節CO<sub>2</sub>的功能，這個過程稱之為「代償」。若為呼吸酸中毒，腎臟會再吸收HCO<sub>3</sub><sup>-</sup>以升高pH值；反之若為呼吸鹼中毒，腎臟會減少再吸收HCO<sub>3</sub><sup>-</sup>以降低pH值。腎臟的代償需要一定時間（幾小時～幾天），依代償的進行程度可以將呼吸性中毒區分為急慢性：<br>
        （以呼吸性酸中毒為例）<br>
        - 急性呼吸酸中毒：腎臟尚未進行代償，再吸收的HCO<sub>3</sub><sup>-</sup>變化量約為0.1 * ΔPaCO<sub>2</sub><br>
        - 慢性呼吸酸中毒：腎臟已充分進行代償，再吸收的HCO<sub>3</sub><sup>-</sup>變化量約為0.35 * ΔPaCO<sub>2</sub><br>
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td style="width:15%">檢查<br>項目</td>
                    <td>ΔHCO<sub>3</sub><sup>-</sup>與ΔpH<br>實際值</td>
                    <td>ΔHCO<sub>3</sub><sup>-</sup>與ΔpH<br>預估值</td>
                    <td style="width:20%">結果</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>HCO<sub>3</sub><sup>-</sup><br>與pH</td>
                    <td>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b>=|22-24|=2<br>
                        <b>|ΔpH|</b>=|7.48-7.4|=0.08<br>
                        <b>|ΔPaCO<sub>2</sub>|</b>=|22-40|=18
                    </td>
                    <td>
                        <b>急性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b>= 0.2 * |ΔPaCO<sub>2</sub>| = 0.2 * 18 = 3.6<br>
                        <b>|ΔpH|</b> = 0.008 * |ΔPaCO<sub>2</sub>| = 0.008 * 18 = 0.144<br>
                        <b>慢性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b> = 0.4 * |ΔPaCO<sub>2</sub>| = 0.4 * 18 = 7.2
                    </td>
                    <td>
                        HCO<sub>3</sub><sup>-</sup>與pH變化量趨近於急性預估值，腎臟未有效代償，因此為急性呼吸性鹼中毒。
                    </td>
                </tr>
            </tbody>
        </table>

    </li>
    <li><b>Anion gap：</b><br>呼吸性中毒不討論
    </li>
    <li><b>結論：</b><br>急性呼吸性鹼中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="right_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>急性呼吸性鹼中毒通常是由於呼吸道疾病或神經肌肉疾病導致的呼吸抑制所致，常見原因如下：
        <ol style=" list-style-type: none;padding-left:25px; margin-top:15px">
            <li>- 鎮靜劑或鎮痛藥物：使用過量鎮靜劑或鎮痛藥物，尤其是中樞神經系統抑制劑，如嗎啡、酒精、安眠藥等，可以導致呼吸抑制，進而引起急性呼吸性鹼中毒</li>
            <li>- 中樞神經系統疾病：中樞神經系統疾病，如腦出血、腦膜炎、腦腫瘤、脊髓灰質炎等，可以導致呼吸中樞的抑制，進而引起急性呼吸性鹼中毒</li>
            <li>- 呼吸道疾病：呼吸道疾病，如肺炎、肺氣腫、哮喘等，可以導致呼吸困難和呼吸抑制，進而引起急性呼吸性鹼中毒</li>
            <li>- 過量使用呼吸道刺激劑：過量使用呼吸道刺激劑，如激素、支氣管擴張劑等，可能導致呼吸中樞的過度刺激，進而引起急性呼吸性鹼中毒</li>
            <li>- 肌肉疾病：某些肌肉疾病，如重症肌無力、肌肉萎縮等，可以導致呼吸肌肉的虛弱或瘫痪，進而引起呼吸抑制和急性呼吸性鹼中毒</li>
        </ol>
    </li>
    <li><b>治療：</b><br>
        <ol style=" list-style-type: none; padding-left:25px;"">
            <li>- 改善通氣功能：透過給氧、支氣管擴張劑等方法增加通氣量，降低血液二氧化碳濃度。</li>
            <li>- 藥物治療：如糖皮質激素和呼吸興奮劑等。</li>
        </ol>
    </li>
    <li><b>教案相關：</b><br>病患近日感到呼吸喘，呼吸短淺急促，呼吸速率26次/分高(正常值之18~20次/分)，加上長期服用抗焦慮藥物，可能因藥物對呼吸的抑制或是過度換氣引起的急性呼吸性鹼中毒。</li>
</ol>

{% endblock %}

