{% extends "base.html" %}
{% block title %}教案十三{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question14') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question14') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question14') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一60歲男性病人長年酗酒，今日飲用800毫升伏特加後嘔吐不止，甚至吐出大口鮮血，緊急送醫。初步診視病人體溫36.7度，心跳67次/分，呼吸速率15次/分，血壓132/87。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}91{% endblock %}
{% block PaCO2 %}30{% endblock %}
{% block HCO3 %}18{% endblock %}
{% block pH %}7.33{% endblock %}
{% block Na %}128{% endblock %}
{% block Cl %}90{% endblock %}
{% block Hb %}15{% endblock %}
{% block Albumin %}28{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常低，可知為「酸中毒」，由於PaCO<sub>2</sub>與HCO<sub>3</sub><sup>-</sup>低於正常值，因此為代謝性酸中毒
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.33</td>
                    <td>30 mmHg</td>
                    <td>18 mEq/L</td>
                    <td>91 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>代謝性酸中毒難以從數據判斷急性或慢性，在此忽略不討論。
    </li>
    <li><b>Anion gap：</b><br>由於AG實際值>AG預估值，可知為陰離子間隙酸中毒(AGMA)，再進一步檢查Δ/Δ=2.17>2，表示為高AG酸中毒合併代謝性鹼中毒。
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td>AG預估值</td>
                    <td>AG實際值</td>
                    <td>ΔHCO<sub>3</sub><sup>-</sup></td>
                    <td>Δ/Δ</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>= 2.5 * albumin<br>
                        = 2.5 * 2.8(g/dL)<br>
                        = 7
                    </td>
                    <td>= Na<sup>+</sup> - (Cl<sup>-</sup> + HCO<sub>3</sub><sup>-</sup>)<br>
                        = 128 - (90 + 18)<br>
                        = 20
                    </td>
                    <td>= 24 - HCO<sub>3</sub><sup>-</sup><br>
                        = 24 - 18<br>
                        = 6
                    </td>
                    <td>= ΔAG / ΔHCO<sub>3</sub><sup>-</sup><br>
                        = (20 - 7) / 6<br>
                        = 2.17</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>結論：</b><br>高AG酸中毒合併代謝性鹼中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="right_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>高AG酸中毒(AGMA)混合代謝性鹼中毒涉及體內離子嚴重失衡，其中高AG酸中毒(AGMA)可能來自於酒精性酮酸中毒。由於酒精會降低肝臟糖質新生(非碳水化合物如乳酸、胺基酸轉換成葡萄糖的過程）並且減少胰島素的分泌、增加分解脂肪，進一步造成脂肪酸氧化並產生酮體造成高AG酸中毒(AGMA)。而造成代謝性鹼中毒的原因可能源於酒精(乙醇)代謝過程中會產生有毒的乙醛再進一步代謝成乙酸排出，但過多的乙醇累積在體內會引起嘔吐噁心的感覺。乙醇也會進一步引起胃酸分泌，有可能引起胃食道逆流進一步造成嘔吐反應過度排出H<sup>+</sup>，導致代謝性鹼中毒
        <div class="additional_ref">Halperin ML, Hammeke M, Josse RG, Jungas RL. Metabolic acidosis in the alcoholic: a pathophysiologic approach. Metabolism. 1983 Mar;32(3):308-15. doi: 10.1016/0026-0495(83)90197-x. PMID: 6828000.</div>
    </li>
    <li><b>教案相關：</b><br>病人長年酗酒，且喝800mL伏特加後又有劇烈嘔吐反應，同時血檢中的Cl<sup>-</sup>降低(正常值98-108mEq/L)也與嘔吐可能相關，此外病人吐出大口鮮血顯示可能有胃出血，雖然病人目前其他表徵無明顯異常，但酗酒的影響廣泛，可能影響體內離子恆定，也會影響消化系統、神經系統等，造成不可逆傷害</li>
</ol>

{% endblock %}

