{% extends "base.html" %}
{% block title %}教案一{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question2') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question2') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question2') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一40歲女性病人被家人送到急診，已嚴重腹瀉多日。病人體溫39度，心跳63次/分，呼吸速率30次/分，血壓115/85。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}95{% endblock %}
{% block PaCO2 %}33{% endblock %}
{% block HCO3 %}18{% endblock %}
{% block pH %}7.33{% endblock %}
{% block Na %}125{% endblock %}
{% block Cl %}99{% endblock %}
{% block Hb %}12.2{% endblock %}
{% block Albumin %}40{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常低，可知為「酸中毒」，由於PaCO2與HCO<sub>3</sub><sup>-</sup>皆低於正常值，表示為體內HCO<sub>3</sub><sup>-</sup>低與排出CO2低，因此為代謝酸中毒。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.33</td>
                    <td>33 mmHg</td>
                    <td>18 mEq/L</td>
                    <td>95 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>代謝性酸中毒難以從數據判斷急性或慢性，在此忽略不討論。
    </li>
    <li><b>Anion gap：</b><br> AG實際值 &lt; AG預估值，屬於正常AG酸中毒(NAGMA)。
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td>AG預估值</td>
                    <td>AG實際值</td>
        
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>= 2.5 * albumin<br>
                        = 2.5 * 4(g/dL)<br>
                        = 10
                    </td>
                    <td>= [Na<sup>+</sup>] - ([Cl<sup>-</sup>] + [HCO<sub>3</sub><sup>-</sup>])<br>
                        = 125 - (99 + 18)<br>
                        = 8 (&lt;10)
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>結論：</b><br>正常AG酸中毒(NAGMA)
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="right_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>Anion gap=Na<sup>+</sup> – Cl<sup>-</sup> – HCO<sub>3</sub><sup>-</sup> = UA(其他陰離子)-UC(其他陽離子)，正常情況下人體內的陽離子和陰離子的總電荷量相同，Anion gap(AG) 可用來評估代謝性酸中毒的原因，其正常值約為albumin*2.5，若AG正常表示酸中毒的原因可能來自於流失HCO<sub>3</sub><sup>-</sup> 同時伴有 Cl<sup>-</sup> 升高或腎臟減少排出酸。
    </li>
    <li><b>症狀：</b><br>身體為了排除多餘的酸會加快呼吸可能引發呼吸困難、噁心、嘔吐、沒有食慾。
    </li>
    <li><b>教案相關：</b><br>腹瀉會造成腸道內HCO<sub>3</sub><sup>-</sup>大量流失，而HCO<sub>3</sub><sup>-</sup>在體內作為酸鹼緩衝溶劑會中和酸，若HCO<sub>3</sub><sup>-</sup>大量流失則會引發酸中毒。同時結腸的Cl<sup>-</sup>/HCO<sub>3</sub><sup>-</sup>通道，排出HCO<sub>3</sub><sup>-</sup>時會吸收Cl<sup>-</sup>，因此排出的糞便中會有較多HCO<sub>3</sub><sup>-</sup>和較少Cl<sup>-</sup>，體內則反之，體內的Anion gap 無明顯增加。
    </li>
</ol>

{% endblock %}

