{% extends "base.html" %}
{% block title %}教案七{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question8') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question8') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question8') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一22歲男性，身材高瘦。體育課打籃球時突然感到右胸劇烈疼痛，因此來到急診。初步診視病人體溫37.5度，心跳86次/分，呼吸速率15次/分，血壓135/90。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}45{% endblock %}
{% block PaCO2 %}52{% endblock %}
{% block HCO3 %}25{% endblock %}
{% block pH %}7.30{% endblock %}
{% block Na %}135{% endblock %}
{% block Cl %}105{% endblock %}
{% block Hb %}15{% endblock %}
{% block Albumin %}43{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→由pH值偏低得知有酸中毒情況，PaCO2與HCO<sub>3</sub><sup>-</sup>濃度皆上升，可知為呼吸性酸中毒。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.3</td>
                    <td>52 mmHg</td>
                    <td>25 mEq/L</td>
                    <td>45 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過低</td>
                    <td>過高</td>
                    <td>正常</td>
                    <td>過低</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>
        當呼吸性酸鹼中毒發生時，腎臟會藉由改變HCO<sub>3</sub><sup>-</sup>的吸收補足肺臟無法調節CO2的功能，這個過程稱之為「代償」。若為呼吸酸中毒，腎臟會再吸收HCO<sub>3</sub><sup>-</sup>以升高pH值；反之若為呼吸鹼中毒，腎臟會減少再吸收HCO<sub>3</sub><sup>-</sup>以降低pH值。腎臟的代償需要一定時間（幾小時～幾天），依代償的進行程度可以將呼吸性中毒區分為急慢性：<br>
        （以呼吸性酸中毒為例）<br>
        - 急性呼吸酸中毒：腎臟尚未進行代償，再吸收的HCO<sub>3</sub><sup>-</sup>變化量約為0.1 * ΔPaCO2<br>
        - 慢性呼吸酸中毒：腎臟已充分進行代償，再吸收的HCO<sub>3</sub><sup>-</sup>變化量約為0.35 * ΔPaCO2<br>
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td style="width:15%">檢查<br>項目</td>
                    <td>Δ[HCO<sub>3</sub><sup>-</sup>]與ΔpH<br>實際值</td>
                    <td>Δ[HCO<sub>3</sub><sup>-</sup>]與ΔpH<br>預估值</td>
                    <td style="width:20%">結果</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>[HCO<sub>3</sub><sup>-</sup>]<br>與pH</td>
                    <td>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b>=|25-24|=1<br>
                        <b>|ΔpH|</b>=|7.3-7.4|=0.10<br>
                        <b>|ΔPaCO<sub>2</sub>|</b>=|52-40|=12
                    </td>
                    <td>
                        <b>急性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b>= 0.1 * |ΔPaCO<sub>2</sub>| = 0.1 * 12 = 1.2<br>
                        <b>|ΔpH|</b> = 0.008 * |ΔPaCO<sub>2</sub>| = 0.008 * 12 = 0.096<br>
                        <b>慢性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>-</sup>|</b> = 0.35 * |ΔPaCO<sub>2</sub>| = 0.35 * 12 = 4.2<br>
                        <b>|ΔpH|</b> = 0.003 * |ΔPaCO<sub>2</sub>| = 0.003 * 12 = 0.036<br>
                    </td>
                    <td>
                        [ΔHCO<sub>3</sub><sup>-</sup>]與pH變化量趨近於急性預估值， 腎臟尚未有效代償，因此為急性呼吸性酸中毒。
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>Anion gap：</b><br>非代謝酸中毒不需要計算。
    </li>
    <li><b>結論：</b><br>急性呼吸性酸中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block right_block">
    <button class="right_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>肺臟的氣體交換功能若受到阻礙，造成二氧化碳在體內累積，就可能引起呼吸性酸中毒，常見原因如下：
        <ol style=" list-style-type: lower-alpha;padding-left:25px; margin-top:15px">
            <li>呼吸神經、肌肉功能障礙</li>
            <li>異物阻塞、喉頭水腫導致的氣體通道阻塞</li>
            <li>慢性阻塞性肺病、間質性肺病等</li>
            <li>處在通風不良、CO<sub>2</sub>濃度過高的環境</li>
        </ol>
    </li>
    <li><b>診斷：</b><br>高瘦體型是氣胸的危險因子，患者又自述感到右胸劇痛，有可能是發生氣胸，導致氣體交換效率下降，引發呼吸性酸中毒。氣胸依其發生原因不同，有可能在短時間內危及生命，應立即診斷、處置。
    </li>
</ol>

{% endblock %}

