{% extends "base.html" %}
{% block title %}教案三{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question4') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question4') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question4') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一65歲男性病人年輕時就患有糖尿病，長期下來造成慢性腎衰竭，需要定期洗腎。這次來洗腎前發現病人呼吸開始變喘，初步診視病人體溫36.5度，心跳86次/分，呼吸速率31次/分，血壓180/110。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}90{% endblock %}
{% block PaCO2 %}32{% endblock %}
{% block HCO3 %}15{% endblock %}
{% block pH %}7.15{% endblock %}
{% block Na %}143{% endblock %}
{% block Cl %}112{% endblock %}
{% block Hb %}9.8{% endblock %}
{% block Albumin %}30{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常低，可知為「酸中毒」，由於PaCO<sub>2</sub>與HCO<sub>3</sub><sup>-</sup>低於正常值，因此為代謝性酸中毒。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>-</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.15</td>
                    <td>32 mmHg</td>
                    <td>15 mEq/L</td>
                    <td>90 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>代謝性酸中毒難以從數據判斷急性或慢性，在此不討論。
    </li>
    <li><b>Anion gap：</b><br>由於AG實際值 &gt; AG預估值，可知為高AG酸中毒(AGMA)，再進一步檢查Δ/Δ=0.94&lt;1，表示為高AG酸中毒(AGMA)與正常AG酸中毒(NAGMA)。
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td>AG預估值</td>
                    <td>AG實際值</td>
                    <td>ΔHCO<sub>3</sub><sup>-</sup></td>
                    <td>Δ/Δ</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>= 2.5 * albumin<br>
                        = 2.5 * 3(g/dL)<br>
                        = 7.5
                    </td>
                    <td>= Na<sup>+</sup> - (Cl<sup>-</sup> + HCO<sub>3</sub><sup>-</sup>)<br>
                        = 142 - (112 + 15)<br>
                        = 16
                    </td>
                    <td>= 24 - HCO<sub>3</sub><sup>-</sup><br>
                        = 24 - 15<br>
                        = 9
                    </td>
                    <td>= ΔAG / ΔHCO<sub>3</sub><sup>-</sup><br>
                        = (16 - 7.5) / 9<br>
                        = 0.94</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>結論：</b><br>高AG酸中毒(AGMA)與正常AG酸中毒(NAGMA)
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="right_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>
        碳酸氫鹽在酸鹼恆定扮演重要角色，此外體內也有其他可滴定酸如H<sub>2</sub>SO<sub>4</sub>或H<sub>3</sub>PO<sub>4</sub>等緩衝鹽類幫助H的排出。腎臟主要通過產生或再吸收HCO<sub>3</sub><sup>-</sup>調節酸鹼平衡。大約 80% 經腎小球過濾的HCO<sub>3</sub><sup>-</sup>會在近曲小管重新被吸收，此外，腎臟會經由產生NH4和遠曲小管分泌酸的過程生成新的HCO<sub>3</sub><sup>-</sup>。<br>
        慢性腎病會造成腎臟細胞的損傷，造成腎臟無法有效排除酸造成代謝性酸中毒。慢性腎病前期會影響腎臟合成氨的過程並降低HCO<sub>3</sub><sup>-</sup>的新合成，無法有效中和酸，但此時可滴定酸的仍可維持功能，因此產生正常AG酸中毒。但到了末期腎病（GFR &lt;15 ml/min/1.73 m2），可滴定酸的排泄減少，因此會導致磷酸鹽等陰離子累積在體內造成高正常AG酸中毒。</li>
    <li><b>症狀：</b><br>呼吸急促、面色潮紅、噁心感、嘔吐、食欲不振、電解質失衡
    </li>
    <li><b>教案相關：</b><br>補充重碳酸鹽，平衡PH值，如有電解質失衡，可透過輸液補充流失的電解質
    </li>
    <li><b>併發症：</b><br>低血壓、心律不整、休克、庫斯莫爾氏呼吸（代謝性酸中毒造成的深、慢、費力的呼吸模式）</li>
</ol>

{% endblock %}

