{% extends "base.html" %}
{% block title %}教案十八{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question18') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question18') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question18') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一37歲女性病人突然覺得心悸，呼吸喘且合併胸痛，剛剛短暫昏厥了一次。初步診視病人體溫37.1度，心跳100次/分，呼吸速率26次/分，血壓80/50。醫師懷疑她有肺血管相關疾病因此為她照了CT，發現她有肺動脈栓塞，你為她做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}80{% endblock %}
{% block PaCO2 %}33{% endblock %}
{% block HCO3 %}22.7{% endblock %}
{% block pH %}7.46{% endblock %}
{% block Na %}140{% endblock %}
{% block Cl %}105{% endblock %}
{% block Hb %}12{% endblock %}
{% block Albumin %}40{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→pH較正常高，可知為「鹼中毒」，且PaCO<sub>2</sub>過低而HCO<sub>3</sub><sup>−</sup>偏低 ，因此為呼吸性鹼中毒。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>−</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.46</td>
                    <td>33 mmHg</td>
                    <td>22.7 mEq/L</td>
                    <td>85 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過高</td>
                    <td>過低</td>
                    <td>正常但偏低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>
        當呼吸性酸鹼中毒發生時，腎臟會藉由改變HCO<sub>3</sub><sup>−</sup>的吸收補足肺臟無法調節CO<sub>2</sub>的功能，這個過程稱之為「代償」。若為呼吸酸中毒，腎臟會再吸收HCO<sub>3</sub><sup>−</sup>以升高pH值；反之若為呼吸鹼中毒，腎臟會減少再吸收HCO<sub>3</sub><sup>−</sup>以降低pH值。腎臟的代償需要一定時間（幾小時~幾天），依代償的進行程度可以將呼吸性中毒區分為急慢性：<br>
        （以呼吸性酸中毒為例）<br>
        - 急性呼吸酸中毒：腎臟尚未進行代償，再吸收的HCO<sub>3</sub><sup>−</sup>變化量約為0.1 * ΔPaCO<sub>2</sub><br>
        - 慢性呼吸酸中毒：腎臟已充分進行代償，再吸收的HCO<sub>3</sub><sup>−</sup>變化量約為0.35 * ΔPaCO<sub>2</sub><br>
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td style="width:15%">檢查<br>項目</td>
                    <td>ΔHCO<sub>3</sub><sup>−</sup>與ΔpH<br>實際值</td>
                    <td>ΔHCO<sub>3</sub><sup>−</sup>與ΔpH<br>預估值</td>
                    <td style="width:20%">結果</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>HCO<sub>3</sub><sup>−</sup><br>與pH</td>
                    <td>
                        <b>|ΔHCO<sub>3</sub><sup>−</sup>|</b>=|22.7−24|=1.3<br>
                        <b>|ΔpH|</b>=|7.46−7.4|=0.04<br>
                        <b>|ΔPaCO<sub>2</sub>|</b>=|33−40|=7
                    </td>
                    <td>
                        <b>急性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>−</sup>|</b>= 0.2 * |ΔPaCO<sub>2</sub>| = 0.2 * 7 = 1.4<br>
                        <b>|ΔpH|</b> = 0.008 * |ΔPaCO<sub>2</sub>| = 0.008 * 7 = 0.056<br>
                        <b>慢性：</b><br>
                        <b>|ΔHCO<sub>3</sub><sup>−</sup>|</b> = 0.4 * |ΔPaCO<sub>2</sub>| = 0.4 * 7 = 2.8<br>
                    </td>
                    <td>
                        [ΔHCO<sub>3</sub><sup>−</sup>]HCO<sub>3</sub><sup>−</sup>與pH變化量等於急性預估值，腎臟尚未有效代償，因此為急性呼吸鹼中毒 與pH變化量等於急性預估值，腎臟尚未有效代償，因此為急性呼吸鹼中毒 
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>Anion gap：</b><br>呼吸性鹼中毒不需判斷Anion gap。
    </li>
    <li><b>結論：</b><br>急性呼吸性鹼中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性酸中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="right_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>急性呼吸性鹼中毒通常是由於呼吸道疾病或神經肌肉疾病導致的呼吸抑制所致，常見原因如下：
        <ol style=" list-style-type: none;padding-left:25px; margin-top:15px">
            <li>- 鎮靜劑或鎮痛藥物：使用過量鎮靜劑或鎮痛藥物，尤其是中樞神經系統抑制劑，如嗎啡、酒精、安眠藥等，可以導致呼吸抑制，進而引起急性呼吸性鹼中毒</li>
            <li>- 中樞神經系統疾病：中樞神經系統疾病，如腦出血、腦膜炎、腦腫瘤、脊髓灰質炎等，可以導致呼吸中樞的抑制，進而引起急性呼吸性鹼中毒</li>
            <li>- 呼吸道疾病：呼吸道疾病，如肺炎、肺氣腫、哮喘等，可以導致呼吸困難和呼吸抑制，進而引起急性呼吸性鹼中毒</li>
            <li>- 過量使用呼吸道刺激劑：過量使用呼吸道刺激劑，如激素、支氣管擴張劑等，可能導致呼吸中樞的過度刺激，進而引起急性呼吸性鹼中毒</li>
            <li>- 肌肉疾病：某些肌肉疾病，如重症肌無力、肌肉萎縮等，可以導致呼吸肌肉的虛弱或瘫痪，進而引起呼吸抑制和急性呼吸性鹼中毒</li>
        </ol></li>
    <li><b>症狀：</b><br>急性呼吸鹼中毒導致的血液酸鹼平衡失調，可能影響心臟的正常功能，引起心律不整、心跳過速、心肌缺血、心肌梗塞等，病人除了呼吸頻率快（正常值12-18次/分）、也出現心跳快（正常值72下/分）、心悸且血壓偏低（正常值130/80），同時合併合併胸痛的症狀，表示她的心肺功能可能都受到影響。
    </li>
    <li><b>治療：</b><br>
        <ol style=" list-style-type: none;padding-left:25px; "">
            <li>- 改善通氣功能：透過給氧、支氣管擴張劑等方法增加通氣量，降低血液二氧化碳濃度</li>
            <li>- 藥物治療：如糖皮質激素和呼吸興奮劑等</li>
            <li>- 病患的狀況緊急，需處理其低血壓，如建立靜脈導管、給予藥物、輸液治療</li>
            <li>- 除此之外，可進行進一步的心電圖檢查、胸部X光檢查和心臟超聲波檢查</li>
        </ol></li>
    <li><b>教案相關：</b><br>肺動脈栓塞 (Pulmonary embolism) 發生於部分肺臟的血管產生栓塞（可能源於腫瘤、脂肪等），肺動脈栓塞會阻礙靜脈缺氧血流至肺部進行氣體交換，因此血氧會降低，血液中CO<sub>2</sub>會增加，造成過度換氣，肺部呼吸會加快以獲得更多氧氣但同時會排出過多CO<sub>2</sub>造成呼吸性鹼中毒。<br>
        肺動脈栓塞也會造成肺動脈收縮而使阻力上升，使右心室要更用力收縮才能將血液打入肺動脈進行肺循環，但若右心室過勞便可能會心臟衰竭，最終造成沒有足夠的血液可以到肺做氣體交換，充氧血也會不足。<br>
    </li>
</ol>

{% endblock %}

