{% extends "base.html" %}
{% block title %}教案二{% endblock %}
{% block arrow %}
<div class="navbar_arrow">
<a href="{{ url_for('pages', page='question3') }}"><span class="arrow arrow1"></span></a>
<a href="{{ url_for('pages', page='question3') }}"><span class="arrow arrow2"></span></a>
<a href="{{ url_for('pages', page='question3') }}"><span class="arrow arrow3"></span></a>
</div>
{% endblock %}
{% block question %}
有一46歲男性病人長期患有糖尿病，服藥順從性不佳。今天因為意識不清於路邊昏倒，被警察送到急診。初步診視病人體溫37度，心跳78次/分，呼吸速率16次/分，血壓126/82。你為他做一般抽血檢查與動脈氣體分析，也另外做了一些檢驗，重要數據如下：
{% endblock %}
{% block PaO2 %}90{% endblock %}
{% block PaCO2 %}28{% endblock %}
{% block HCO3 %}13{% endblock %}
{% block pH %}7.20{% endblock %}
{% block Na %}142{% endblock %}
{% block Cl %}102{% endblock %}
{% block Hb %}14.2{% endblock %}
{% block Albumin %}44{% endblock %}
{% block ref_list %}
<ol class="ref_list">
    <li><b>判斷數值：</b><br>→由pH值偏低得知有酸中毒情況。HCO<sub>3</sub><sup>−</sup>、PaCO<sub>2</sub>濃度皆偏低，故可知為代謝性酸中毒。
        <table class="ref_table_num">
            <thead>
                <tr>
                    <td></td>
                    <td>pH</td>
                    <td>PaCO<sub>2</sub></td>
                    <td>HCO<sub>3</sub><sup>−</sup></td>
                    <td>PaO<sub>2</sub></td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>正常值</td>
                    <td>7.35-7.45</td>
                    <td>35-45 mmHg</td>
                    <td>22-26 mEq/L</td>
                    <td>80-100 mmHg</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>7.2</td>
                    <td>28 mmHg</td>
                    <td>13 mEq/L</td>
                    <td>90 mmHg</td>
                </tr>
                <tr>
                    <td>判斷</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>過低</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>判斷急性或慢性：</b><br>代謝性酸中毒難以從數據判斷急性或慢性，在此忽略不討論。
    </li>
    <li><b>Anion gap：</b><br>由於AG實際值 &gt; AG預估值，可知為AGMA，再進一步檢查Δ/Δ=1.45（介於1~2），屬於單純高AG酸中毒
        <table class="ref_table_eq">
            <thead>
                <tr>
                    <td>AG預估值</td>
                    <td>AG實際值</td>
                    <td>ΔHCO<sub>3</sub><sup>−</sup></td>
                    <td>Δ/Δ</td>
                </tr>
            </thead>
            <tbody>                                      
                <tr>
                    <td>= 2.5 * albumin<br>
                        = 2.5 * 4.4(g/dL)<br>
                        = 11
                    </td>
                    <td>= Na<sup>+</sup> − (Cl<sup>−</sup> + HCO<sub>3</sub><sup>−</sup>)<br>
                        = 142 − (102 + 13)<br>
                        = 27 (&gt;11)
                    </td>
                    <td>= 24 − HCO<sub>3</sub><sup>−</sup><br>
                        = 24 − 13<br>
                        = 11
                    </td>
                    <td>= ΔAG / ΔHCO<sub>3</sub><sup>−</sup><br>
                        = (27 − 11) / 11<br>
                        = 1.45</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><b>結論：</b><br>單純高AG酸中毒
    </li>
</ol>
{% endblock %}
{% block answer_button %}
<div class="diagnosis_1layer_block">
    <div class="diagnosis_1layer_back_right"><button class="right_1 answer_1"><a>代謝性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>代謝性鹼中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性酸中毒</a></button></div>
    <div class="diagnosis_1layer_back_wrong"><button class="wrong_1 answer_1"><a>呼吸性鹼中毒</a></button></div>
</div>
<div class="diagnosis_2layer_block right_block">
    <button class="wrong_2 answer_2"><a>正常AG酸中毒</a></button>
    <button class="right_2 answer_2"><a>單純高AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併正常AG酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>高AG酸中毒合併代謝性鹼中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>代謝性鹼中毒</a></button>
</div>

<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性酸中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性酸中毒</a></button>
</div>
<div class="diagnosis_2layer_block wrong_block">
    <button class="wrong_2 answer_2"><a>急性呼吸性鹼中毒</a></button>
    <button class="wrong_2 answer_2"><a>慢性呼吸性鹼中毒</a></button>
</div>
{% endblock %}
{% block additional %}
<h3>中毒原因與症狀</h3>
<ol>
    <li><b>原因：</b><br>高AG酸中毒 (AGMA) 通常是身體中累積或產生過多酸性分子所導致。如：腎臟無法代謝尿酸、磷酸，或是攝取過多會在代謝後產生酸性分子的物質。</li>
    <li><b>教案相關：</b><br>  
        <ol style="list-style-type: lower-alpha; padding-left:25px; margin-top:15px">
            <li>本教案之個案，長期患有糖尿病且服藥順從度差，其昏迷原因可能是血糖控制不佳所導致。
            </li>
            <li>糖尿病若血糖控制欠佳，可能引發酮酸中毒造成高AG酸中毒 (AGMA) ，稱為糖尿病酮酸血症 (Diabetic Ketoacidosis) 。詳細機制如下：
                <ol style="list-style-type: lower-roman; padding-left:25px; margin-top:15px">
                    <li>糖尿病患者胰島素缺乏或無法妥善發揮作用，進食後血糖會劇烈上升，但不能儲存足夠的肝醣進食時穩定血糖，因此病患的血糖濃度浮動很大。

                    </li>
                    <li>患者未進食以致血糖過低時，身體必須從脂肪儲備中釋放能量。脂肪代謝過程中，脂肪酸會轉變成酮酸等分子，造成血液pH值上升。

                    </li>
                    <li>
                        因此若血糖低下時間過久，就可能因酮酸累積造成高AG酸中毒 (AGMA) 。
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>

{% endblock %}

